In [87]:
import enum
import attrs
from typing import Optional, Callable, Any, Literal
file_path='/Users/mattia/Desktop/SocialThings/Progetto/ImpressionMIND.csv'
import numpy as np
import scipy.sparse as sp
from scipy.sparse import csr_matrix
import pandas as pd

In [88]:
dfmind=pd.read_csv(file_path, sep=',')
dfmind

,ImpressionID,UserID,Time,History,Impressions,Timestamp,Impressions_Encoded,History_encoded
0,1,2200,2019-11-09 00:01:13,"['N5056', 'N29975', 'N53234', 'N39603', 'N5003...","['N20602-0', 'N50059-0', 'N57768-1', 'N50135-1...",1.573258e+09,"['11783-0', '44512-0', '53076-1', '44597-1', '...","['N5056', 'N29975', 'N53234', 'N39603', 'N5003..."
1,2,3845,2019-11-09 00:03:28,"['N61864', 'N9897', 'N1150', 'N53125', 'N10059...","['N15194-0', 'N46992-0', 'N12465-0', 'N43001-0...",1.573258e+09,"['5773-0', '41103-0', '2741-0', '36671-0', '56...","['N61864', 'N9897', 'N1150', 'N53125', 'N10059..."
2,3,418,2019-11-09 00:04:04,"['N22279', 'N59008', 'N26361', 'N459', 'N61864...","['N15117-0', 'N11911-0', 'N36086-0', 'N47020-1...",1.573258e+09,"['5688-0', '2126-0', '28986-0', '41136-1', '61...","['N22279', 'N59008', 'N26361', 'N459', 'N61864..."
3,4,4291,2019-11-09 00:04:19,"['N459', 'N39074', 'N62451', 'N41089', 'N53387...","['N20602-0', 'N3491-0', 'N57005-0', 'N37764-0'...",1.573258e+09,"['11783-0', '27679-0', '52230-0', '30850-0', '...","['N459', 'N39074', 'N62451', 'N41089', 'N53387..."
4,9,1075,2019-11-09 00:08:13,"['N60844', 'N5290', 'N31193', 'N63741', 'N5552...","['N3491-0', 'N50135-0', 'N41881-1']",1.573258e+09,"['27679-0', '44597-0', '35425-1']","['N60844', 'N5290', 'N31193', 'N63741', 'N5552..."
...,...,...,...,...,...,...,...,...
45708,86960,1149,2019-11-15 23:16:28,"['N5241', 'N9226', 'N58518', 'N53033', 'N37811...","['N12409-0', 'N30598-0', 'N40575-0', 'N61838-0...",1.573860e+09,"['2679-0', '22888-0', '33974-0', '57599-0', '5...","['N5241', 'N9226', 'N58518', 'N53033', 'N37811..."
45709,86964,1965,2019-11-15 23:24:42,"['N25740', 'N2030', 'N28381', 'N42599', 'N4229...","['N42180-0', 'N8400-0', 'N17376-0', 'N10083-0'...",1.573860e+09,"['35758-0', '63463-0', '8197-0', '95-0', '4951...","['N25740', 'N2030', 'N28381', 'N42599', 'N4229..."
45710,86966,995,2019-11-15 23:28:38,"['N1150', 'N55189', 'N21383', 'N36676', 'N5569...","['N60085-0', 'N28640-0', 'N42120-0', 'N47213-0...",1.573861e+09,"['55652-0', '20713-0', '35692-0', '41350-0', '...","['N1150', 'N55189', 'N21383', 'N36676', 'N5569..."
45711,86968,2127,2019-11-15 23:30:52,"['N47356', 'N29730', 'N63930', 'N24724', 'N602...","['N54562-0', 'N12683-0', 'N53443-0', 'N60215-0...",1.573861e+09,"['49515-0', '2983-0', '48272-0', '55797-0', '3...","['N47356', 'N29730', 'N63930', 'N24724', 'N602..."
45712,86971,3608,2019-11-15 23:41:35,"['N54659', 'N45182', 'N17587', 'N42259', 'N278...","['N26572-0', 'N17672-0', 'N6664-0', 'N61657-0'...",1.573861e+09,"['18415-0', '8526-0', '61533-0', '57398-0', '8...","['N54659', 'N45182', 'N17587', 'N42259', 'N278..."

In [89]:
dfMIND = dfmind.sort_values(by='Timestamp')
dfMIND

,ImpressionID,UserID,Time,History,Impressions,Timestamp,Impressions_Encoded,History_encoded
0,1,2200,2019-11-09 00:01:13,"['N5056', 'N29975', 'N53234', 'N39603', 'N5003...","['N20602-0', 'N50059-0', 'N57768-1', 'N50135-1...",1.573258e+09,"['11783-0', '44512-0', '53076-1', '44597-1', '...","['N5056', 'N29975', 'N53234', 'N39603', 'N5003..."
1,2,3845,2019-11-09 00:03:28,"['N61864', 'N9897', 'N1150', 'N53125', 'N10059...","['N15194-0', 'N46992-0', 'N12465-0', 'N43001-0...",1.573258e+09,"['5773-0', '41103-0', '2741-0', '36671-0', '56...","['N61864', 'N9897', 'N1150', 'N53125', 'N10059..."
2,3,418,2019-11-09 00:04:04,"['N22279', 'N59008', 'N26361', 'N459', 'N61864...","['N15117-0', 'N11911-0', 'N36086-0', 'N47020-1...",1.573258e+09,"['5688-0', '2126-0', '28986-0', '41136-1', '61...","['N22279', 'N59008', 'N26361', 'N459', 'N61864..."
3,4,4291,2019-11-09 00:04:19,"['N459', 'N39074', 'N62451', 'N41089', 'N53387...","['N20602-0', 'N3491-0', 'N57005-0', 'N37764-0'...",1.573258e+09,"['11783-0', '27679-0', '52230-0', '30850-0', '...","['N459', 'N39074', 'N62451', 'N41089', 'N53387..."
4,9,1075,2019-11-09 00:08:13,"['N60844', 'N5290', 'N31193', 'N63741', 'N5552...","['N3491-0', 'N50135-0', 'N41881-1']",1.573258e+09,"['27679-0', '44597-0', '35425-1']","['N60844', 'N5290', 'N31193', 'N63741', 'N5552..."
...,...,...,...,...,...,...,...,...
45708,86960,1149,2019-11-15 23:16:28,"['N5241', 'N9226', 'N58518', 'N53033', 'N37811...","['N12409-0', 'N30598-0', 'N40575-0', 'N61838-0...",1.573860e+09,"['2679-0', '22888-0', '33974-0', '57599-0', '5...","['N5241', 'N9226', 'N58518', 'N53033', 'N37811..."
45709,86964,1965,2019-11-15 23:24:42,"['N25740', 'N2030', 'N28381', 'N42599', 'N4229...","['N42180-0', 'N8400-0', 'N17376-0', 'N10083-0'...",1.573860e+09,"['35758-0', '63463-0', '8197-0', '95-0', '4951...","['N25740', 'N2030', 'N28381', 'N42599', 'N4229..."
45710,86966,995,2019-11-15 23:28:38,"['N1150', 'N55189', 'N21383', 'N36676', 'N5569...","['N60085-0', 'N28640-0', 'N42120-0', 'N47213-0...",1.573861e+09,"['55652-0', '20713-0', '35692-0', '41350-0', '...","['N1150', 'N55189', 'N21383', 'N36676', 'N5569..."
45711,86968,2127,2019-11-15 23:30:52,"['N47356', 'N29730', 'N63930', 'N24724', 'N602...","['N54562-0', 'N12683-0', 'N53443-0', 'N60215-0...",1.573861e+09,"['49515-0', '2983-0', '48272-0', '55797-0', '3...","['N47356', 'N29730', 'N63930', 'N24724', 'N602..."
45712,86971,3608,2019-11-15 23:41:35,"['N54659', 'N45182', 'N17587', 'N42259', 'N278...","['N26572-0', 'N17672-0', 'N6664-0', 'N61657-0'...",1.573861e+09,"['18415-0', '8526-0', '61533-0', '57398-0', '8...","['N54659', 'N45182', 'N17587', 'N42259', 'N278..."

In [90]:
dfMIND['Impressions_Encoded'] = dfMIND['Impressions_Encoded'].apply(lambda x: eval(x))
dfMIND['History_encoded'] = dfMIND['History_encoded'].apply(lambda x: eval(x))
dfMIND

,ImpressionID,UserID,Time,History,Impressions,Timestamp,Impressions_Encoded,History_encoded
0,1,2200,2019-11-09 00:01:13,"['N5056', 'N29975', 'N53234', 'N39603', 'N5003...","['N20602-0', 'N50059-0', 'N57768-1', 'N50135-1...",1.573258e+09,"[11783-0, 44512-0, 53076-1, 44597-1, 5707-0, 7...","[N5056, N29975, N53234, N39603, N50032, N8422,..."
1,2,3845,2019-11-09 00:03:28,"['N61864', 'N9897', 'N1150', 'N53125', 'N10059...","['N15194-0', 'N46992-0', 'N12465-0', 'N43001-0...",1.573258e+09,"[5773-0, 41103-0, 2741-0, 36671-0, 56751-0, 26...","[N61864, N9897, N1150, N53125, N10059, N62327,..."
2,3,418,2019-11-09 00:04:04,"['N22279', 'N59008', 'N26361', 'N459', 'N61864...","['N15117-0', 'N11911-0', 'N36086-0', 'N47020-1...",1.573258e+09,"[5688-0, 2126-0, 28986-0, 41136-1, 61862-0, 91...","[N22279, N59008, N26361, N459, N61864, N1886, ..."
3,4,4291,2019-11-09 00:04:19,"['N459', 'N39074', 'N62451', 'N41089', 'N53387...","['N20602-0', 'N3491-0', 'N57005-0', 'N37764-0'...",1.573258e+09,"[11783-0, 27679-0, 52230-0, 30850-0, 53076-0, ...","[N459, N39074, N62451, N41089, N53387, N3500, ..."
4,9,1075,2019-11-09 00:08:13,"['N60844', 'N5290', 'N31193', 'N63741', 'N5552...","['N3491-0', 'N50135-0', 'N41881-1']",1.573258e+09,"[27679-0, 44597-0, 35425-1]","[N60844, N5290, N31193, N63741, N55526, N25114..."
...,...,...,...,...,...,...,...,...
45708,86960,1149,2019-11-15 23:16:28,"['N5241', 'N9226', 'N58518', 'N53033', 'N37811...","['N12409-0', 'N30598-0', 'N40575-0', 'N61838-0...",1.573860e+09,"[2679-0, 22888-0, 33974-0, 57599-0, 55482-0, 4...","[N5241, N9226, N58518, N53033, N37811, N40716,..."
45709,86964,1965,2019-11-15 23:24:42,"['N25740', 'N2030', 'N28381', 'N42599', 'N4229...","['N42180-0', 'N8400-0', 'N17376-0', 'N10083-0'...",1.573860e+09,"[35758-0, 63463-0, 8197-0, 95-0, 49515-0, 5772...","[N25740, N2030, N28381, N42599, N42299, N2028,..."
45710,86966,995,2019-11-15 23:28:38,"['N1150', 'N55189', 'N21383', 'N36676', 'N5569...","['N60085-0', 'N28640-0', 'N42120-0', 'N47213-0...",1.573861e+09,"[55652-0, 20713-0, 35692-0, 41350-0, 52459-1, ...","[N1150, N55189, N21383, N36676, N55692, N9165,..."
45711,86968,2127,2019-11-15 23:30:52,"['N47356', 'N29730', 'N63930', 'N24724', 'N602...","['N54562-0', 'N12683-0', 'N53443-0', 'N60215-0...",1.573861e+09,"[49515-0, 2983-0, 48272-0, 55797-0, 36976-0, 3...","[N47356, N29730, N63930, N24724, N60206, N4245..."
45712,86971,3608,2019-11-15 23:41:35,"['N54659', 'N45182', 'N17587', 'N42259', 'N278...","['N26572-0', 'N17672-0', 'N6664-0', 'N61657-0'...",1.573861e+09,"[18415-0, 8526-0, 61533-0, 57398-0, 8350-0, 64...","[N54659, N45182, N17587, N42259, N27812, N2642..."

In [91]:
usr_count = {}

for u in dfMIND['UserID'].unique():

    usr_count[u] = 0

usr_freq = []

for index, row in dfMIND.iterrows():

    u = row['UserID']

    usr_count[u] += 1

    usr_freq.append(usr_count[u])

dfMIND['UserFreq'] = usr_freq

In [92]:
df_matrix = dfMIND.explode('Impressions_Encoded')[['ImpressionID','UserID', 'Impressions_Encoded', 'Time', 'Timestamp', 'UserFreq']]
df_matrix.reset_index(inplace=True,drop=True)
df_matrix

,ImpressionID,UserID,Impressions_Encoded,Time,Timestamp,UserFreq
0,1,2200,11783-0,2019-11-09 00:01:13,1.573258e+09,1
1,1,2200,44512-0,2019-11-09 00:01:13,1.573258e+09,1
2,1,2200,53076-1,2019-11-09 00:01:13,1.573258e+09,1
3,1,2200,44597-1,2019-11-09 00:01:13,1.573258e+09,1
4,1,2200,5707-0,2019-11-09 00:01:13,1.573258e+09,1
...,...,...,...,...,...,...
1849739,86971,3608,35048-0,2019-11-15 23:41:35,1.573861e+09,9
1849740,86971,3608,50095-0,2019-11-15 23:41:35,1.573861e+09,9
1849741,86971,3608,26857-0,2019-11-15 23:41:35,1.573861e+09,9
1849742,86971,3608,24090-0,2019-11-15 23:41:35,1.573861e+09,9
1849743,86971,3608,32169-0,2019-11-15 23:41:35,1.573861e+09,9

controllo userfreq

In [95]:
# Filtra il dataframe per UserID 3608
filtered_df = dfMIND[dfMIND['UserID'] == 3608]

# Ottieni il numero di righe del dataframe filtrato
num_rows = filtered_df.shape[0]

# Visualizza il numero di righe
print("Numero di righe per UserID 3608:", num_rows)

Numero di righe per UserID 3608: 9

In [97]:
from tqdm import tqdm

d = {}

for index, row in dfMIND.iterrows():

    id = row['ImpressionID']

    lst = row['Impressions_Encoded']

    d[id] = lst

positions = []

with tqdm(total=df_matrix.shape[0]) as pbar:

    for i in df_matrix.index:

        lst = d[df_matrix.iloc[i]['ImpressionID']]

        elem = df_matrix.iloc[i]['Impressions_Encoded']

        pos = lst.index(elem)

        positions.append(pos)

        pbar.update(1)

df_matrix['Position'] = positions

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1849744/1849744 [09:36<00:00, 3209.70it/s]

In [98]:
import pandas as pd

# Creazione della colonna 'user-item'
df_matrix['user-item'] = df_matrix['UserID'].astype(str) + '-' + df_matrix['Impressions_Encoded'].astype(str)

# Creazione della colonna 'Conversion'
df_matrix['Conversion'] = df_matrix['Impressions_Encoded'].str.endswith('-1').astype(int)

# Creazione della colonna 'ImpCount'
df_matrix['ImpCount'] = df_matrix.groupby(['UserID', 'Impressions_Encoded']).cumcount() + 1

# Calcola la differenza di tempo tra la coppia corrente e l'ultima coppia user-item
df_matrix['LastSeen'] = df_matrix.groupby(['user-item'])['Timestamp'].diff()

# Imposta il valore 0 per la prima coppia user-item
df_matrix.loc[df_matrix.groupby(['user-item']).head(1).index, 'LastSeen'] = 0

# Trova le coppie con conversione uguale a 1
df_matrix['Conversion_Max'] = df_matrix.groupby(['user-item'])['Conversion'].cummax()

# Assegna un valore cumulativo per ogni riga del gruppo
df_matrix['GroupCumSum'] = df_matrix.groupby(['user-item'])['Conversion_Max'].cumsum()

# Filtra il dataframe in base alla condizione
new_df = df_matrix[df_matrix['GroupCumSum'] <= 1]

# Rimuovi le colonne aggiuntive
new_df = new_df.drop(columns=['Conversion_Max', 'GroupCumSum'])

# Converti i valori di LastSeen da secondi a giorni
new_df['LastSeen'] = (new_df['LastSeen'] / 86400)

# Seleziona le colonne desiderate nel nuovo dataframe
new_df = new_df[['user-item', 'ImpCount', 'Position', 'LastSeen', 'UserFreq', 'Conversion', 'Time']]

# Visualizza il nuovo dataframe
print(new_df)

            user-item  ImpCount  Position  LastSeen  UserFreq  Conversion  \
0        2200-11783-0         1         0       0.0         1           0
1        2200-44512-0         1         1       0.0         1           0
2        2200-53076-1         1         2       0.0         1           1
3        2200-44597-1         1         3       0.0         1           1
4         2200-5707-0         1         4       0.0         1           0
...               ...       ...       ...       ...       ...         ...
1849739  3608-35048-0         1        17       0.0         9           0
1849740  3608-50095-0         1        18       0.0         9           0
1849741  3608-26857-0         1        19       0.0         9           0
1849742  3608-24090-0         1        20       0.0         9           0
1849743  3608-32169-0         1        21       0.0         9           0

                        Time
0        2019-11-09 00:01:13
1        2019-11-09 00:01:13
2        2019-11-09 00:01:13
3        2019-11-09 00:01:13
4        2019-11-09 00:01:13
...                      ...
1849739  2019-11-15 23:41:35
1849740  2019-11-15 23:41:35
1849741  2019-11-15 23:41:35
1849742  2019-11-15 23:41:35
1849743  2019-11-15 23:41:35

[1848814 rows x 7 columns]

controllo eliminazione righe dopo interazione positiva

In [99]:
positive_interactions_count = new_df['Conversion'].sum()
print("Numero totale di interazioni positive:", positive_interactions_count)

Numero totale di interazioni positive: 81102

In [100]:
positive_interactions_count = df_matrix['Conversion'].sum()
print("Numero totale di interazioni positive:", positive_interactions_count)

Numero totale di interazioni positive: 82032

controllo impcount, lastseen e position

In [111]:
user_id = 1382
item_id = 22003

# Filtra le righe corrispondenti all'utente e all'item specificati
filtered_rows = new_df[(new_df['user-item'].str.contains(str(user_id))) & (new_df['user-item'].str.contains(str(item_id)))]

# Stampa le righe filtrate
print("Righe corrispondenti all'utente {} e all'item {}:".format(user_id, item_id))
print(filtered_rows)

Righe corrispondenti all'utente 1382 e all'item 22003:
            user-item  ImpCount  Position  LastSeen  UserFreq  Conversion  \
1683288  1382-22003-0         1        73  0.000000         3           0
1697328  1382-22003-0         2        22  0.030417         4           0
1713664  1382-22003-0         3        57  0.034606         5           0
1803251  1382-22003-0         4        88  0.199618         9           0

                        Time
1683288  2019-11-15 06:49:45
1697328  2019-11-15 07:33:33
1713664  2019-11-15 08:23:23
1803251  2019-11-15 13:10:50

In [104]:
user_id = 2200
df_user = new_df[new_df['user-item'].str.contains(f"({user_id})")]
print(df_user)

/var/folders/jk/4_y1z2tn6xj4mgbkg06b0nx80000gn/T/ipykernel_2717/1457206526.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_user = new_df[new_df['user-item'].str.contains(f"({user_id})")]

            user-item  ImpCount  Position  LastSeen  UserFreq  Conversion  \
0        2200-11783-0         1         0  0.000000         1           0
1        2200-44512-0         1         1  0.000000         1           0
2        2200-53076-1         1         2  0.000000         1           1
3        2200-44597-1         1         3  0.000000         1           1
4         2200-5707-0         1         4  0.000000         1           0
...               ...       ...       ...       ...       ...         ...
1797687  1294-22003-0         1        56  0.000000         5           0
1799028   286-22003-0         2        10  0.271736         5           0
1802619  3218-22003-0         8       196  0.058009        16           0
1803251  1382-22003-0         4        88  0.199618         9           0
1845437   642-22003-0         6        22  1.131539        13           0

                        Time
0        2019-11-09 00:01:13
1        2019-11-09 00:01:13
2        2019-11-09 00:01:13
3        2019-11-09 00:01:13
4        2019-11-09 00:01:13
...                      ...
1797687  2019-11-15 12:52:55
1799028  2019-11-15 12:59:09
1802619  2019-11-15 13:08:51
1803251  2019-11-15 13:10:50
1845437  2019-11-15 18:33:31

[1217 rows x 7 columns]